---
import Section from "../Section.astro";
---

<Section
  className="mx-auto grid w-full max-w-screen-2xl place-items-center overflow-x-hidden px-5 pt-32 md:pt-44"
>
  <div class="flex w-full flex-col items-center gap-5 text-center">
    <h1 class="text-3xl">
      I'll release blogs sequentially to teach chrome extension development.
    </h1>
    <p>Stay tuned :)</p>
  </div>
</Section>
