---
import Icon from "astro-icon";
---

<footer
  class="relative mx-auto flex items-center justify-center bg-black p-5 text-white shadow-md"
>
  <nav class="flex items-center">
    <a
      class="pr-4 opacity-70 transition-all hover:underline hover:opacity-100"
      href="mailto:vadegharraj@gmail.com"
      title="Raj Vadeghar Gmail">Email</a
    >
    <a
      class="px-4 opacity-70 transition-all hover:underline hover:opacity-100"
      href="https://www.linkedin.com/in/rajvadeghar2000/"
      title="Raj Vadeghar LinkedIn">Linkedin</a
    >
    <a
      class="px-4 opacity-70 transition-all hover:underline hover:opacity-100"
      href="https://github.com/RajVadeghar"
      title="Raj Vadeghar Github">Github</a
    >

    <a
      href="/#"
      class="mx-4 flex items-center gap-1 rounded-full p-2 opacity-70 transition-all hover:bg-white/10 hover:underline hover:opacity-100"
      ><Icon name="mdi:chevron-up" class="h-7 w-7 hover:stroke-2" /></a
    >
  </nav>
</footer>

<script is:inline>
  const button = document.getElementById("scroll-to-top");

  button?.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>
