---
import Icon from "astro-icon";
import Socials from "../Socials.astro";
---

<footer class="relative mx-auto bg-gray-100 p-20 text-center shadow-md">
  <div class="absolute inset-x-0 -top-5">
    <button
      scroll-to-top
      aria-label="scroll to top"
      class="mx-auto grid h-12 w-12 cursor-pointer place-items-center rounded-full bg-gray-200 p-1 transition-all hover:bg-accent2 hover:text-white"
    >
      <Icon name="mdi:chevron-up" class="h-full w-full hover:stroke-2" />
    </button>
  </div>
  <p class="text-sm sm:text-base">DESIGNED AND CODED BY RAJ VADEGHAR</p>
  <Socials className="mt-5 flex scale-150 items-center justify-center gap-2" />
</footer>

<script>
  const button = document.querySelector("[scroll-to-top]");

  button?.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>
