---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="group block cursor-pointer px-3 font-medium capitalize text-white/70 no-underline outline-none transition-all last:pl-3 last:pr-0 hover:text-white"
>
  <slot />
  <span
    class="block h-[3px] max-w-0 rounded-full bg-accent2 text-yellow-500 transition-all duration-200 group-hover:max-w-full"
  ></span>
</a>
