---
type Props = {
  href: string;
};

const { href } = Astro.props;
const pathname = Astro.url.pathname;
const active = pathname === href;
---

<a
  href={href}
  class={`relative group block cursor-pointer font-medium capitalize outline-none transition-all hover:text-white px-3 p-1 ${
    active ? "text-white" : "text-white/70 no-underline"
  }`}
>
  <slot />

  {
    active && (
      <span
        id="active-nav-item"
        transition:name="active-underline"
        class="absolute inset-0 rounded-lg bg-white/10"
      />
    )
  }
</a>
