---
import HeaderNavItem from "./HeaderNavItem.astro";
import Socials from "../Socials.astro";
import { Image } from "astro:assets";
const pathname = Astro.url.pathname;
---

<header
  class={`w-full z-50 mx-auto grid max-w-screen-2xl items-center justify-center gap-5 overflow-x-hidden p-5 sm:justify-between place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3`}
>
  <div
    id="profile"
    class="flex items-center gap-3 justify-self-center sm:justify-self-start"
  >
    <a href="/">
      <Image
        width={100}
        height={100}
        id="profile-img"
        src="/me.png"
        alt="raj"
        class="z-10 h-12 w-12 whitespace-nowrap rounded-full"
      />
    </a>
    <div id="profile-divider" class="h-10 w-[0.5px] rounded-full bg-white/70">
    </div>
    <div id="profile-data" class="flex flex-col gap-2">
      <a href="/about" id="name" class="font-medium text-white">
        Full Stack Developer</a
      >
      <Socials className="flex items-center gap-2" />
    </div>
  </div>

  <nav class={`flex items-center font-medium`}>
    <HeaderNavItem active={pathname === "/"} href="/">Localhost</HeaderNavItem>
    <HeaderNavItem active={pathname === "/about"} href="/about">
      About
    </HeaderNavItem>
    <HeaderNavItem active={pathname === "/uses"} href="/uses">
      Uses
    </HeaderNavItem>
    <HeaderNavItem active={pathname === "/blog"} href="/blog">
      Blog
    </HeaderNavItem>
    <!-- {
      pathname === "/xerox" && (
        <HeaderNavItem active={pathname === "/xerox"} href="/xerox">
          Xerox
        </HeaderNavItem>
      )
    } -->

    <!-- <HeaderNavItem href="#testimonials">Testimonials</HeaderNavItem>
    <HeaderNavItem href="">How much I charge</HeaderNavItem> -->
  </nav>

  <a
    href="https://calendly.com/r44j/30min"
    class="hidden w-fit justify-self-end rounded-lg bg-gray-800 px-6 py-2 text-sm font-bold text-white ring-gray-800 ring-offset-2 ring-offset-black hover:ring-2 focus:ring-2 sm:block"
  >
    Book a free meeting
  </a>
</header>

<script>
  console.log("header");
  import gsap from "gsap";
  import SplitType from "split-type";

  let mm = gsap.matchMedia();
  const breakPoint = 800;

  mm.add(
    {
      isDesktop: `(min-width: ${breakPoint}px)`,
      isSmallScreen: `(max-width: 640px)`,
      isMobile: `(max-width: ${breakPoint - 1}px)`,
      reduceMotion: "(prefers-reduced-motion: reduce)"
    },
    (context) => {
      // @ts-ignore
      const { isDesktop, isSmallScreen } = context.conditions;
      const main = document.querySelector("main");
      const letters = new SplitType("#name", { split: "chars" }).chars;
      const duration = 0.3;

      const mainTl = gsap.timeline();
      const staggerTl = gsap.timeline({
        defaults: {
          duration: duration,
          stagger: duration / 15,
          repeatDelay: 1
        }
      });
      const settersTl = gsap.timeline();

      mainTl.timeScale(2);

      settersTl
        .set("#profile-divider", {
          height: 0,
          opacity: 0
        })
        .set("#profile-data", { opacity: 0 })
        .set("#profile-img", {
          opacity: 0,
          scale: 1.2
        });

      const fromVars = { opacity: 0, scale: 0.7, filter: "blur(40px)" };
      const toVars = { opacity: 1, scale: 1, filter: "none" };

      staggerTl
        .fromTo(letters, fromVars, toVars)
        .fromTo("#socials a", fromVars, toVars, "<+=0.2");

      mainTl
        .to(
          "#profile-img",
          { opacity: 1, scale: 1, ease: "power1.out" },
          "+=0.2"
        )
        .to("#profile-divider", { height: "2.5rem", opacity: 1 })
        .to("#profile-data", { opacity: 1 })
        .add(staggerTl)
        .to(main, { display: "flex", opacity: 1, duration: 1 });
    }
  );
</script>
