---
import HeaderNavItem from "./HeaderNavItem.astro";
import Socials from "../Socials.astro";
import { Image } from "astro:assets";

const navItems = [
  { href: "/", label: "Localhost" },
  { href: "/about", label: "About" },
  { href: "/uses", label: "Uses" },
  { href: "/blog", label: "Blog" }
];
---

<header
  class={`w-full z-50 mx-auto grid max-w-screen-2xl items-center justify-center gap-5 overflow-x-hidden p-5 sm:justify-between place-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3`}
  data-header
>
  <div
    id="profile"
    class="flex items-center gap-3 justify-self-center sm:justify-self-start"
  >
    <a href="/">
      <Image
        width={100}
        height={100}
        id="profile-img"
        src="/me.png"
        alt="raj"
        class="z-10 h-12 w-12 rounded-full whitespace-nowrap"
      />
    </a>
    <div id="profile-divider" class="h-10 w-[0.5px] rounded-full bg-white/70">
    </div>
    <div id="profile-data" class="flex flex-col gap-2">
      <a href="/about" id="name" class="font-medium text-white">
        Full Stack Developer</a
      >
      <Socials className="flex items-center gap-2" />
    </div>
  </div>

  <nav class={`flex items-center font-medium`}>
    {
      navItems.map((item) => (
        <HeaderNavItem href={item.href}>{item.label}</HeaderNavItem>
      ))
    }
  </nav>

  <a
    href="https://calendly.com/r44j/30min"
    class="hidden w-fit justify-self-end rounded-lg bg-white/10 px-6 py-2 text-sm font-bold text-white ring-gray-800 ring-offset-2 ring-offset-black transition-all hover:bg-white/20 hover:ring-2 focus:ring-2 sm:block"
  >
    Book a free meeting
  </a>
</header>

<script>
  // header
  import gsap from "gsap";
  import SplitType from "split-type";

  let mm = gsap.matchMedia();
  const breakPoint = 800;

  mm.add(
    {
      isDesktop: `(min-width: ${breakPoint}px)`,
      isSmallScreen: `(max-width: 640px)`,
      isMobile: `(max-width: ${breakPoint - 1}px)`,
      reduceMotion: "(prefers-reduced-motion: reduce)"
    },
    () => {
      const main = document.querySelector("main");
      const letters = new SplitType("#name", { split: "chars" }).chars;
      const duration = 0.3;

      const mainTl = gsap.timeline();
      const staggerTl = gsap.timeline({
        defaults: {
          duration: duration,
          stagger: duration / 15,
          repeatDelay: 1
        }
      });
      const settersTl = gsap.timeline();

      mainTl.timeScale(2);

      settersTl
        .set("#profile-divider", {
          height: 0,
          opacity: 0
        })
        .set("#profile-data", { opacity: 0 })
        .set("#profile-img", {
          opacity: 0,
          scale: 1.2
        });

      const fromVars = { opacity: 0, scale: 0.7, filter: "blur(40px)" };
      const toVars = { opacity: 1, scale: 1, filter: "none" };

      staggerTl
        .fromTo(letters, fromVars, toVars)
        .fromTo("#socials a", fromVars, toVars, "<+=0.2");

      mainTl
        .to(
          "#profile-img",
          { opacity: 1, scale: 1, ease: "power1.out" },
          "+=0.2"
        )
        .to("#profile-divider", { height: "2.5rem", opacity: 1 })
        .to("#profile-data", { opacity: 1 })
        .add(staggerTl)
        .to(main, { display: "flex", opacity: 1, duration: 1 });
    }
  );

  document.addEventListener("astro:page-load", () => {
    const header = document.querySelector("[data-header]");
    const navLinks = header?.querySelectorAll("a");

    navLinks?.forEach((link) => {
      link.setAttribute("data-astro-prefetch", "true");
    });
  });
</script>
