---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import HeroSection from "@/components/HeroSection.astro";
import ReviewSection from "@/components/ReviewSection.astro";
import WorkSection from "@/components/WorkSection.astro";
---

<Layout title="Coding with Raj | Portfolio">
  <Main>
    <HeroSection />
    <WorkSection />
    <ReviewSection />
  </Main>
</Layout>
