---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import SiteData from "@/constants/siteData.json";
import TestimonialsSection from "@/components/home/TestimonialsSection.astro";
import HeroSection from "@/components/home/HeroSection.astro";
import ServicesSection from "@/components/home/ServicesSection.astro";
---

<Layout
  seo={{
    title: SiteData.default.title,
    description: SiteData.default.description
  }}
>
  <Main>
    <HeroSection />
    <ServicesSection />
    <TestimonialsSection />
  </Main>
</Layout>
