---
import ModernHero from "@/components/home/HeroSection";
import ModernServicesSection from "@/components/home/ServicesSection";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import SiteData from "@/constants/siteData.json";
import TestimonialsSection from "@/components/home/TestimonialsSection.astro";
import CinematicGrid from "@/components/home/CinematicGrid";
---

<Layout
  seo={{
    title: SiteData.default.title,
    description: SiteData.default.description
  }}
>
  <Main>
    <ModernHero client:only="react" />
    <ModernServicesSection client:only="react" />
    <TestimonialsSection />
  </Main>
</Layout>
