---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import HeroSection from "@/components/home/HeroSection.astro";
import ServicesSection from "@/components/home/ServicesSection.astro";
---

<Layout title="R44J | Portfolio">
  <Main>
    <HeroSection />
    <ServicesSection />
    <!-- <ReviewSection /> -->
  </Main>
</Layout>
