---
import Main from "../components/Main.astro";
import HeroUses from "../components/uses/hero-uses.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout seo={{ title: "R44J - Tools" }}>
  <Main>
    <HeroUses />
  </Main>
</Layout>
