---
import SiteData from "@/constants/siteData.json";
import Layout from "../layouts/Layout.astro";
import HeroUses from "../components/uses/hero-uses.astro";
import Main from "@/components/Main.astro";
import CinematicGrid from "@/components/home/CinematicGrid";
---

<Layout
  seo={{
    title: SiteData.pages.uses.title,
    description: SiteData.pages.uses.description
  }}
  keywords={SiteData.pages.uses.keywords}
>
  <Main class="min-h-screen bg-gray-900 text-white">
    <CinematicGrid client:only="react" />
    <div class="mx-auto max-w-6xl md:px-4 md:py-16">
      <header class="mb-12 text-center">
        <h1 class="mb-4 text-4xl font-bold text-white md:text-5xl">
          My Digital Toolkit
        </h1>
        <p class="mx-auto max-w-2xl text-xl text-gray-400">
          A curated collection of devices and tools that power my productivity
          and creativity.
        </p>
      </header>

      <HeroUses />
    </div>
  </Main>
</Layout>
