---
import WorkVideo from "@/assets/work.mp4";
import Section from "../Section.astro";

const { default: funStar } = await import(`@/assets/fun-star.svg?raw`);
const { default: rocket } = await import(`@/assets/rocket.svg?raw`);
---

<Section
  className="mx-auto grid w-full max-w-screen-2xl place-items-center overflow-x-hidden px-5 pt-32 md:pt-44"
>
  <div class="flex w-full flex-col items-center gap-5 text-center">
    <p class="text-3xl font-semibold leading-tight sm:text-4xl md:text-5xl">
      I'm a <span class="text-white">Development Ally</span><br />for Innovators


      <span class="[&>svg]:inline-block [&>svg]:h-8 [&>svg]:w-8">
        <Fragment set:html={funStar} />
      </span>
    </p>
    <p class="text-lg font-medium text-white/70">
      Quickly crafts frontend designs, codes templates, and excels <br /> in
      both backend development and design.
    </p>

    <a
      href="https://calendly.com/r44j/30min"
      class="rounded-lg bg-accent2 px-6 py-2 text-xl font-bold text-white ring-accent2 ring-offset-2 ring-offset-black hover:ring-2 focus:ring-2"
      transition:name="hero-call-to-action"
    >
      Book a free meeting</a
    >
    <p class="max-w-md pt-5 font-medium text-white/60">
      From design to growth, I cover it all—development, maintenance,
      management. You name it, I've got it covered.
    </p>
  </div>

  <div
    id="my-work"
    class="mt-20 grid grid-cols-1 gap-10 md:mt-36 md:grid-cols-2"
  >
    <video
      src={WorkVideo}
      loop
      muted
      autoplay
      class="aspect-square rounded-xl object-cover"></video>

    <div class="">
      <h2 class="pb-10 text-2xl font-semibold text-white">
        Efficiently craft Responsive Web designs
        <span class="[&>svg]:inline-block [&>svg]:h-8 [&>svg]:w-8">
          <Fragment set:html={rocket} />
        </span>
      </h2>
      <strong class="block pb-10 font-semibold">
        Streamlined Development, Powerful Results
      </strong>
      <ul class="flex flex-col gap-5 text-white/70">
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-800 font-audiowide text-white/80"
          >
            1
          </div>
          <div class="flex-shrink">
            <strong class="text-white/90">Automation:</strong>
             Aliases, snippets, and scripts streamline my workflow, freeing up
            time for creative problem-solving.
          </div>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-800 font-audiowide text-white/80"
          >
            2
          </div>
          <div class="flex-shrink">
            <strong class="text-white/90">Agility:</strong>
             I navigate complex tasks with ease, using shortcuts to deliver
            solutions with speed and precision.
          </div>
        </li>
        <!-- <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            3
          </div>
          <div class="flex-shrink">
            My agility and productivity arise from both automation and adept
            navigation.
          </div>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            4
          </div>
          <div class="flex-shrink">
            I heavily utilize shortcuts, dedicating time primarily to thoughtful
            problem-solving. Simplifying work processes allows me to deliver
            with speed and precision.
          </div>
        </li> -->
      </ul>
      <p class="pt-10">
        For top-tier web solutions, trust my streamlined approach to
        development.
      </p>
    </div>
  </div>
</Section>
