---
import WorkVideo from "@/assets/work.mp4";
import Section from "../Section.astro";

const { default: funStar } = await import(`@/assets/fun-star.svg?raw`);
const { default: rocket } = await import(`@/assets/rocket.svg?raw`);
---

<Section
  className="mx-auto grid w-full max-w-screen-2xl place-items-center overflow-x-hidden px-8 pt-44"
>
  <div class="flex w-full flex-col items-center gap-5 text-center">
    <p class="text-3xl font-semibold leading-tight sm:text-4xl md:text-5xl">
      I'm a Development Ally<br />for Innovators
      <span class="[&>svg]:inline-block [&>svg]:h-8 [&>svg]:w-8">
        <Fragment set:html={funStar} />
      </span>
    </p>
    <p class="text-lg font-medium text-black/70">
      Quickly crafts frontend designs, codes templates, and excels <br /> in
      both backend development and design.
    </p>

    <a
      href="https://calendly.com/r44j/30min"
      class="rounded-lg bg-black px-6 py-2 text-xl font-bold text-white ring-black ring-offset-2 hover:ring-2 focus:ring-2"
    >
      Book a free meeting</a
    >
    <p class="max-w-md pt-5 font-medium text-black/60">
      From design to growth, I cover it all—development, maintenance,
      management. You name it, I've got it covered.
    </p>
  </div>

  <div
    id="my-work"
    class="mt-20 grid grid-cols-1 gap-10 md:mt-36 md:grid-cols-2"
  >
    <video
      src={WorkVideo}
      loop
      muted
      autoplay
      class="aspect-square rounded-xl object-cover"></video>

    <div class="">
      <h2 class="pb-10 text-2xl font-semibold">
        Efficiently craft Responsive Web designs
        <span class="[&>svg]:inline-block [&>svg]:h-8 [&>svg]:w-8">
          <Fragment set:html={rocket} />
        </span>
      </h2>
      <p class="pb-5">
        My daily routine revolves around extensive development, especially
        within startup environments.
      </p>
      <ul class="flex flex-col gap-5 text-gray-700">
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            1
          </div>
          <div class="flex-shrink">
            My efficiency stems from a strategic approach rather than haste.
          </div>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            2
          </div>
          <div class="flex-shrink">
            I streamline tasks through aliases, code snippets, and bash scripts,
            automating a significant portion of my workload.
          </div>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            3
          </div>
          <div class="flex-shrink">
            My agility and productivity arise from both automation and adept
            navigation.
          </div>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="grid h-10 w-10 shrink-0 place-items-center rounded-full bg-gray-200 font-audiowide text-gray-500"
          >
            4
          </div>
          <div class="flex-shrink">
            I heavily utilize shortcuts, dedicating time primarily to thoughtful
            problem-solving. Simplifying work processes allows me to deliver
            with speed and precision.
          </div>
        </li>
      </ul>
      <p class="pt-10">
        For top-tier web solutions, count on my streamlined and effective
        approach to development.
      </p>
    </div>
  </div>
</Section>
