---
import Section from "../Section.astro";
---

<Section id="services" className="w-full">
  <div
    class="mx-auto flex max-w-screen-xl flex-col items-center justify-center gap-48 overflow-x-hidden py-20 md:py-36"
  >
    <div
      class="flex w-full flex-col justify-between gap-10 overflow-x-hidden px-5 md:flex-row md:px-10"
    >
      <div class="w-full text-center sm:text-left md:w-[60%]">
        <h2
          class="font-audiowide text-2xl font-semibold uppercase text-white md:text-3xl"
        >
          What I can do
        </h2>

        <h3 class="pt-5 text-white/70">You choose, I deliver.</h3>
      </div>
      <div class="flex flex-col gap-8 text-xl md:text-2xl">
        <p>Figma designs</p>
        <p>Scalable Architectures</p>
        <p>Backend Development</p>
        <p>Frontend Development</p>
        <p>Search Engine Optimization</p>
        <p>Mail Campaigns + Landing Pages</p>
        <p>Chrome Extensions</p>
        <p>E Commerce</p>
      </div>
    </div>
    <div
      class="flex w-full flex-col justify-between gap-10 overflow-x-hidden px-5 md:flex-row md:px-10"
    >
      <div class="flex w-full flex-col justify-between md:w-[60%] md:text-left">
        <h2
          class="font-audiowide text-2xl font-semibold uppercase text-white md:text-3xl"
        >
          What my friends can do
        </h2>

        <p class="">
          I fulfill your requests—<span class="text-white">no exceptions.</span>
          <br />Explore our dedicated friends' section. Over the years,
          <br /><span class="text-white"
            >my network of high-performers stands ready for collaboration.</span
          >
          <br />Once we engage, I can handle introductions
          <br />or orchestrate the entire collaboration effortlessly for you.
        </p>
      </div>
      <div class="flex flex-col gap-8 text-xl md:text-2xl">
        <p>Pretty much everything that I do, and</p>
        <p>IOS Apps</p>
        <p>Mobile Apps</p>
        <p>PWA, etc</p>
      </div>
    </div>
  </div>
</Section>
