---
import Facebook from "@/assets/socials-color/facebook.png";
import Linkedin from "@/assets/socials-color/linkedin.png";
import Whatsapp from "@/assets/socials-color/whatsapp.png";
import Twitter from "@/assets/socials-color/x-twitter.png";
import { Image } from "astro:assets";

const platforms = {
  facebook: {
    icon: Facebook,
    url: "https://www.facebook.com/sharer/sharer.php?u="
  },
  twitter: {
    icon: Twitter,
    url: "https://twitter.com/intent/tweet?url="
  },
  linkedin: {
    icon: Linkedin,
    url: "https://www.linkedin.com/shareArticle?mini=true&url="
  },
  whatsapp: {
    icon: Whatsapp,
    url: "https://wa.me/?text="
  }
};

const { url } = Astro.props;
---

<div class="flex items-center gap-3">
  {
    Object.entries(platforms).map(([key, platform]) => {
      return (
        <a
          class="z-10 flex h-10 w-10 cursor-pointer items-center justify-center rounded-md bg-neutral-800 p-2 transition-all duration-300 ease-out hover:bg-neutral-700"
          href={`${platform.url}${encodeURIComponent(url)}`}
        >
          <Image width="20" height="20" src={platform.icon} alt={key} />
        </a>
      );
    })
  }
</div>
