---
import { Icon } from "astro-icon";
---

<div id="socials" class="flex items-center gap-2">
  <a href="https://mailto:vadegharraj@gmail.com" title="Raj Vadeghar Gmail">
    <Icon
      name="mdi:gmail"
      class="h-4 w-4 transition-transform hover:rotate-12 hover:scale-[2] hover:text-[#6C63FF]"
    />
  </a>
  <a href="" title="Raj Vadeghar Github">
    <Icon
      name="mdi:github"
      class="h-4 w-4 transition-transform hover:rotate-12 hover:scale-[2] hover:text-[#6C63FF]"
    />
  </a>
  <a href="" title="Raj Vadeghar Facebook">
    <Icon
      name="mdi:facebook"
      class="h-4 w-4 transition-transform hover:rotate-12 hover:scale-[2] hover:text-[#6C63FF]"
    />
  </a>
  <a href="" title="Raj Vadeghar Gitlab">
    <Icon
      name="mdi:gitlab"
      class="h-4 w-4 transition-transform hover:rotate-12 hover:scale-[2] hover:text-[#6C63FF]"
    />
  </a>
  <a href="" title="Raj Vadeghar Instagram">
    <Icon
      name="mdi:instagram"
      class="h-4 w-4 transition-transform hover:rotate-12 hover:scale-[2] hover:text-[#6C63FF]"
    />
  </a>
</div>
