---
import type { Block } from "@/helpers/server-actions";

interface Props {
  blocks: Block[];
}
const props = Astro.props;

const getChildrenText = (block: Block) =>
  block.children
    .map((node) => (typeof node === "string" ? node : node.text || ""))
    .join("");
---

<ol class="flex flex-col gap-3 text-white/60">
  {
    props.blocks.map((heading) => (
      <li id={`toc-${heading._key}`} class="transition-all hover:text-white/90">
        <a href={"#" + heading._key}>{getChildrenText(heading)}</a>
        {heading.subheadings && heading.subheadings.length > 0 && (
          <Astro.self blocks={heading.subheadings} />
        )}
      </li>
    ))
  }
</ol>
