---
import Main from "../../components/Main.astro";
import HeroBlogs from "../../components/blogs/hero-blogs.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="R44J - Blogs">
  <Main>
    <HeroBlogs />
    <!-- <ReviewSection /> -->
  </Main>
</Layout>
