---
import { SEO, type Props as SEOProps } from "astro-seo";
import { Schema } from "astro-seo-schema";

type Props<T extends Thing> = {
  schema?: Graph | WithContext<Thing> | WithContext<T>;
  className?: string;
  keywords?: string | undefined;
  seo?: SEOProps;
};

import "@fontsource/outfit";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import GoogleAnalytics from "@/components/google-analytics.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import SiteData from "@/constants/siteData.json";
import { ViewTransitions } from "astro:transitions";
import type { Graph, Thing, WebSite, WithContext } from "schema-dts";
const { className, seo, keywords, schema } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Full Stack Developer" />
    <link rel="icon" type="image/png" href="/icon-256x256.png" />
    <meta name="generator" content={Astro.generator} />
    {keywords && <meta name="keywords" content={keywords} />}
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8750631183642200"
      crossorigin="anonymous"></script>
    <script
      is:inline
      async
      custom-element="amp-ad"
      src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <ViewTransitions />
    <meta
      name="keywords"
      content="R44J, Full Stack Developer, Figma designs, Scalable Architectures, Backend Development, Frontend Development, SEO, Chrome Extensions, E-commerce, IOS Apps, Mobile Apps, PWA"
    />
    <Schema
      item={schema ??
        ({
          "@context": "https://schema.org",
          "@type": "WebSite",
          name: SiteData.default.title,
          url: "https://r44j.dev",
          image: "/linkedin.jpg"
        } as WithContext<WebSite>)}
    />
    <SEO
      {...seo}
      title={seo?.title ?? SiteData.default.title}
      description={seo?.description ?? SiteData.default.description}
      openGraph={seo?.openGraph ?? {
        basic: {
          image: SiteData.default.openGraph.image,
          title: SiteData.default.openGraph.title,
          type: SiteData.default.openGraph.type,
          url: SiteData.default.openGraph.url
        },
        optional: {
          description: SiteData.default.openGraph.description,
          siteName: SiteData.default.openGraph.title
        }
      }}
      twitter={seo?.twitter ?? {
        title: SiteData.default.twitter.title,
        description: SiteData.default.twitter.description,
        creator: SiteData.default.twitter.creator
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <GoogleAnalytics />

    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T3FDZDQ2");
    </script>
  </head>
  <body class={`relative ${className ?? "bg-black text-white/60"} antialiased`}>
    <Header />
    <slot />
    <Footer />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      :root {
        --color-accent-2: 108, 99, 255;
        --color-fill: 33, 39, 55;
        --color-accent: 255, 121, 1;
        --color-card: 52, 63, 96;
        --color-card-muted: 138, 51, 2;
        --color-border: 171, 75, 8;
      }

      html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        font-family: "Outfit", system-ui, sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    </style>
    <SpeedInsights />

    <noscript
      ><iframe
        title="google-tag-manager"
        src="https://www.googletagmanager.com/ns.html?id=GTM-T3FDZDQ2"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
  </body>
</html>
