---
import Uses from "@/constants/uses";
import Section from "../Section.astro";
---

<Section
  className="mx-auto grid w-full max-w-4xl place-items-center overflow-x-hidden px-5 sm:pt-20"
>
  <div class="flex w-full flex-col gap-5">
    {
      Uses.map((use) => (
        <div class="">
          <a
            class="text-white underline transition-all hover:text-inherit"
            href={use.link}
            title={use.name}
            target="_blank"
            rel="noreferrer"
          >
            {use.name}
          </a>
          {use.description}
        </div>
      ))
    }
  </div>
</Section>
